<div class="ranking">
    <div class="ranking__stage">
        <select class="ranking__stage-select-box" [(ngModel)]="selectedRally" (change)="changeRally($event)">
            <option *ngFor="let rally of rallyStage">{{rally.name}}</option>
        </select>
        <select class="ranking__stage-select-box" [(ngModel)]="selectedStage" (change)="changeStage($event)">
            <option *ngFor="let stage of stageRallyInProgress">{{stage.name}}</option>
        </select>
    </div>
    <div class="ranking__leaderboard">
        <div class="ranking__leaderboard-grid">
            <span class="ranking-name">CLASSEMENT SPECIALE</span>
            <div class="ranking__leaderboard-grid-legend">
                <span>POS</span><span>CHRONO</span>
            </div>
            <div *ngFor="let entrie of stageEntries" class="ranking__leaderboard-grid-first-column">
                <span class="rank">{{entrie.stageRank}}</span>
                <p>
                    <span class="driver">{{entrie.driver}}</span>
                    <span>{{entrie.car}}</span>
                </p>
                <p>
                    <span class="time">{{entrie.stageTime |  date:'mm:ss.SSS'}}</span>
                    <span class="diff" *ngIf="entrie.stageDiff !== 0 && entrie.stageDiff < 60000">+{{entrie.stageDiff | date:'s.SSS'}}</span>
                    <span class="diff" *ngIf="entrie.stageDiff > 60000">+{{entrie.stageDiff | date:'m:ss.SSS'}}</span>
                </p>
            </div>
        </div>
        <div class="ranking__leaderboard-grid">
            <span class="ranking-name">CLASSEMENT GENERAL</span>
            <div class="ranking__leaderboard-grid-legend">
                <span>POS</span><span>CHRONO</span>
            </div>
            <div *ngFor="let entrie of overallEntries" class="ranking__leaderboard-grid-first-column">
                <span class="rank">{{entrie.overallRank}}</span>
                <p>
                    <span class="driver">{{entrie.driver}}</span>
                    <span>{{entrie.car}}</span>
                </p>
                <p>
                    <span class="time">{{entrie.totalTime | date:'mm:ss.SSS'}}</span>
                    <span class="diff" *ngIf="entrie.totalDiff !== 0 && entrie.totalDiff < 60000">+{{entrie.totalDiff | date:'s.SSS'}}</span>
                    <span class="diff" *ngIf="entrie.totalDiff > 60000">+{{entrie.totalDiff | date:'m:ss.SSS'}}</span>
                </p>
            </div>
        </div>
    </div>
</div>

