@import "src/assets/styles/styles.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 10vh;
    align-items: center;
    padding: 0 5rem 0 5.5rem;
    color: $primary-color;

    img {
        height: 80px;
    }

    .active-link {
        color: $secondary-color;
        font-weight: bold;
    }

    &__menu{
        a {
            padding-right: 1.5rem;
            text-decoration: none;
            color: $primary-color;
        }
    }
}