<div class="home">
  <div class="home__left">
    <p>BIENVENUE SUR LE SITE DU DISCORD D.R.2.0 FR</p>
    <div class="inscription">Comment s'inscrire ?</div>
    <div class="rules">- Choisir UNE SEULE catégorie</div>
    <div class="click-club">- Cliquez sur votre catégorie pour rejoindre le club</div>
    <div class="click-discord">- Valider votre participation sur notre <a (click)="goToLink('https://discord.gg/XAa4cax')">discord</a></div>
    <div class="home__left-row">
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364593')"><img src="../../../assets/img/WRC.jpg"/></a>
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364595')"><img src="../../../assets/img/R5.png"/></a>
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364591')"><img src="../../../assets/img/GRP_A.png"/></a>
    </div>
    <div class="home__left-row">
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364590')"><img src="../../../assets/img/H3.jpg"/></a>
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364596')"><img src="../../../assets/img/R2.png"/></a>
      <a (click)="goToLink('https://dirtrally2.dirtgame.com/clubs/club/364594')"><img src="../../../assets/img/H2.jpg"/></a>
    </div>
  </div>
  <div class="home__right">
    <p>CALENDRIER</p>
    <div class="home__right-row">
      <img src="../../../assets/img/monaco.png"/><span>MONTE CARLO</span><span>15.01 / 24.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/australia.png"/><span>AUSTRALIE</span><span>29.01 / 07.02</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/greece.png"/><span>GRECE</span><span>12.02 / 21.02</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/usa.png"/><span>USA</span><span>26.02 / 07.03</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/argentina.png"/><span>ARGENTINE</span><span>12.03 / 21.03</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/germany.png"/><span>ALLEMAGNE</span><span>26.03 / 04.04</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/sweden.png"/><span>SUEDE</span><span>09.04 / 18.04</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/finland.png"/><span>FINLANDE</span><span>23.04 / 02.05</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/wales.png"/><span>PAYS DE GALLES</span><span>07.05 / 16.05</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/poland.png"/><span>POLOGNE</span><span>21.05 / 30.05</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/spain.png"/><span>ESPAGNE</span><span>04.06 / 13.06</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/nz.png"/><span>NOUVELLE ZELANDE</span><span>18.06 / 27.06</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/scotland.png"/><span>ECOSSE</span><span>02.07 / 11.07</span>
    </div>    
  </div>
</div>