@import "src/assets/styles/styles.scss";

.home {
    height: 80vh;
    display               : grid;
    grid-template-columns : 2fr 1fr;
    grid-gap              : 1rem;
    font-family: 'Abel', sans-serif;
    padding: 0 2rem 0 1.5rem;
    color: $primary-color;
    justify-content: center;
    align-items: center;

    @media only screen and (max-device-width: $screen-mobile-max) { 
        font-size: 11.5px;
        align-items: flex-start;
        padding: 0.2rem 0.2rem;
    }

    .inscription {
        font-weight: bold;

        @media only screen and (max-device-width: $screen-mobile-max) { 
            text-align: center;
        }
    }

    p {
        font-weight: bold;
        
        @media only screen and (max-device-width: $screen-mobile-max) { 
            text-align: center;
        }
    }


    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-device-width: $screen-mobile-max) { 
            text-align: center;
        }
    

        &-row {
            margin: 0.5rem;
            a{
                margin: 0.5rem;
            }
            img{
                height: 150px;

                @media only screen and (max-device-width: $screen-mobile-max) { 
                    height: 70px;
                }
            }

        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-row {
            padding-bottom: 0.5rem;
            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns : 0.3fr 1.8fr 1fr;

            @media only screen and (max-device-width: $screen-mobile-max) { 
                padding-bottom: 0.3rem;
                display: grid;
                grid-gap: 0.2rem;
                grid-template-columns : 0.2fr 2.3fr 1.5fr;
            }
        }
        
        img {
            height: 20px;
            width: 20px;

            @media only screen and (max-device-width: $screen-mobile-max) { 
                height: 13px;
                width: 13px;
            }
        }

    }
}