<div class="home">
  <div class="home__left">
    <p>BIENVENUE SUR LE SITE DU DISCORD D.R.2.0 FR</p>
    Le championnat multi-catégorie va bientôt démarrer !<br>
    Cliquez sur votre catégorie pour rejoindre le club
    <div class="home__left-row">
      <a><img src="../../../assets/img/WRC2.jpg"/></a>
      <a><img src="../../../assets/img/R52.png"/></a>
      <a><img src="../../../assets/img/GRP_A2.png"/></a>
    </div>
    <div class="home__left-row">
      <a><img src="../../../assets/img/H32.jpg"/></a>
      <a><img src="../../../assets/img/R22.png"/></a>
      <a><img src="../../../assets/img/H2.jpg"/></a>
    </div>
  </div>
  <div class="home__right">
    <p>CALENDRIER</p>
    <div class="home__right-row">
      <img src="../../../assets/img/monaco.png"/><span>MONTE CARLO</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/sweden.png"/><span>SUEDE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/usa.png"/><span>USA</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/argentina.png"/><span>ARGENTINE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/finland.png"/><span>FINLANDE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/germany.png"/><span>ALLEMAGNE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/greece.png"/><span>GRECE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/nz.png"/><span>NOUVELLE ZELANDE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/spain.png"/><span>ESPAGNE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/poland.png"/><span>POLOGNE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/scotland.png"/><span>ECOSSE</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/wales.png"/><span>PAYS DE GALLES</span><span>01.01 / 10.01</span>
    </div>    
    <div class="home__right-row">
      <img src="../../../assets/img/australia.png"/><span>AUSTRALIE</span><span>01.01 / 10.01</span>
    </div>    
  </div>
</div>