@import "src/assets/styles/styles.scss";

.rules {
    height: 80vh;
    margin: 2rem 2rem;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;

    &__high {
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem;

        &-part {
            margin: 1rem 1rem;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    &__low {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}