@import "src/assets/styles/styles.scss";

.rules {
    height: 80vh;
    margin: 2rem 2rem;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;

    @media only screen and (max-device-width: $screen-mobile-max) { 
        margin: 0.2rem 0.2rem;
        font-size: 11.5px;
    }

    &__high {
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem;

        @media only screen and (max-device-width: $screen-mobile-max) { 
            flex-direction: column;
            margin: 0.2rem 0.2rem;
        }

        &-part {
            margin: 1rem 1rem;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    &__low {
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-device-width: $screen-mobile-max) { 
            img {
                height: 100px;
            }
        }
    }

}