<div class="rules">
  <div class="rules__high">
    <div class="rules__high-part">
      <span>RÈGLES DU CHAMPIONNAT RALLY MIX BY DR2FR</span>
      <ul>
        <li>Dégâts hardcore</li>
        <li>Aucune aide à la conduite</li>
        <li>Toutes vues autorisées</li>
        <li>1 catégorie à choisir</li>
        <li>Voiture au choix pour chaque rallye</li>
        <li>Méteo visible au départ du rallye</li>
        <li>Dégradation inconnue</li>
        <li>Météo et dégradation identique pour chaque catégorie</li>
      </ul>
    </div>

    <div class="rules__high-part">
      <span>INSCRIPTION</span>
      <ul>
        <li>Inscrivez-vous dans le club de votre catégorie</li>
        <li>Faites nous parvenir votre choix directement sur <a href="https://discord.com/invite/XAa4cax">Discord</a></li>
      </ul>
    </div>

    <div class="rules__high-part">
      <span>BARÊME DES POINTS</span> 
      <ul>
        <li>Séparation de 3pts pour les 3 premiers</li>
        <li>Pour les 50% des premiers écart de 2pts</li>
        <li>Pour les 50% restants écart de 1pt</li>
        <li>Points Power Stage POUR chaque catégorie</li>
      </ul>
    </div>

  </div>

  <div class="rules__low">
    <img src="../../../assets/img/skoda.png"/>
  </div>
  
  

</div>